main {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* first page background gif */
.single_page {
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.multi_page {
    width: 100%;
    height: auto;
    background-color: var( --clr-grey);
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    padding-top: var(--size-3xl);
    padding-bottom: var(--size-4xl);
 
    /* transform: translateY(-100vh); */
    /* margin-top: -100vh; */
}

.slide {
    overflow-y: hidden;
    padding-top: 2rem;
    /* border: solid 1px var(--clr-red); */
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    z-index: 0;
}

.slides {
    padding-top: 2rem;
    /* border: solid 1px var(--clr-red); */
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    scroll-snap-align: start;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap:var(--size-3xl);
}

.bg_image {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}





/* -------------- 1.title -------------- */
.title {
    padding-bottom: var(--size-xl);
    /* border: solid 2px rgb(0, 208, 255); */
    width: 100%;
}

.title__container {
    /* border: solid 2px rgb(0, 208, 255); */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-xl);
    align-content: end;
    justify-content: space-between;
    align-items: flex-end;
    justify-items: flex-end;
}

/* S */
@media (max-width: 480px) {
    .title__container {
        align-content: space-between;
    }
}

.title__logo {
    bottom: 0;
    width: 40vw;
    height: auto;
    min-width: 300px;
    max-width: 512px;
}

.title__info {
    width: 60ch;
    text-align: end;
    font-style: oblique;
}


/* -------------- 2.basic -------------- */
.content {
    background: white;
    padding-bottom: var(--size-xl);
    /* border: solid 2px rgb(0, 208, 255); */
    width: 100%;
}

.basic__grid {
    padding-top: var(--size-s);
    display: grid;
    grid-gap: 1rem var(--size-l);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    align-content: start;
    justify-content: start;
}
/* M */
@media (max-width: 800px){
    .basic__grid {
        padding-top: var(--size-xl);
    }
}

/* S */

/* @media (max-width: 480px){} */

.basic__images {
    /* border: 1px solid red; */
    grid-column: 1/-1;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    height: 100%;
}

.basic__images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.basic__texts {
    grid-column: 1/-1;
    grid-row: 3/4;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}


.basic__images_1 {
    grid-column: 1/3;
    grid-row: 1/3;
    /* object-fit: cover;
    height: 100%;
    display: block; not working*/
}

.basic__images_2,
.basic__images_3 {
    grid-row: span 1;
    grid-column: span 1;
}

/* -------------- 3.show -------------- */
.show__grid {
    padding-top: var(--size-s);
    display: grid;
    grid-gap: 1rem var(--size-l);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    align-content: start;
    justify-content: start;
}
/* L */
@media (max-width: 1024px) {
    .show__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* M */
@media (max-width: 800px){
    .show__grid {
        padding-top: var(--size-xl);
    }
}

.show__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show__images_1 {
    grid-column: 1/3;
}

.show__text_1 {
    grid-column: span 1;
}

@media (max-width: 1024px) {
    .show__text_1 {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------- 4.process -------------- */
.process__grid {
    padding-top: var(--size-s);
    display: grid;
    grid-gap: 1rem var(--size-l);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    align-content: start;
    justify-content: start;
}
/* L */
@media (max-width: 1024px) {
    .process__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.process__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.process__imageS_left{
    grid-column: 2/3;
}

.process__imageS_right{
    grid-column: span 1;
}


.process__imageL {
    grid-column: span 2;
}

.process__text {
    grid-column: 1/2;
}

@media (max-width: 1024px) {
    .process__text {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-columns: repeat(2, 1fr);
    }
    .process__imageS_left{
        grid-column: span 1;
    }
}